name: Matrix Configuration

on:
  push:
  workflow_dispatch:

jobs:
  deploy:
    strategy:
      fail-fast: false #by default it is true it will stop the jobs if one job 
      max-parallel: 3 #maximum jobs will run at a time (parallel)
      matrix:
        os: [ubuntu-latest, windows-latest]
        images: [hello-world, alpine]  #linux os images won't run on windows os to exclude this 
        exclude:
          - images: alpine
            os: windows-latest
        include:
          - images: amd64/alpine
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Echo docker details
        run: docker info

      - name: Run docker image
        run: docker run ${{ matrix.images }}

# deploy-on-ubuntu:
    #     runs-on: ubuntu-latest
    #     steps:
    #     - name: Echo docker details
    #       run: docker info
    #     - name: Run docker images
    #       run: docker run hello-world
    # deploy-on-windows:
    #     runs-on: windows-latest
    #     steps:
    #     - name: Echo docker details
    #       run: docker info
    #     - name: Run docker images
    #       run: docker run hello-world 
