name: Variables and secret
on: 
  workflow_dispatch:

env:
  CONTAINER_REGISTRY: docker.io
  DOCKER_USERNAME: likhitharajagopal
  IMAGE_NAME: two-tier-backend

jobs:
    docker:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - name: Docker Build
        run: echo docker build -t $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest #how to access repository secrets in yml
        #run: echo docker build -t ${{ CONTAINER_REGISTRY }}/$DOCKER_USERNAME/$IMAGE_NAME:latest
      
      - name: Docker login
        # env: 
        #   # DOCKER_PASSWORD: Jungkook@jeon#1997
        run: echo docker login --username=$DOCKER_USERNAME --password=${{ secrets.DOCKER_PASSWORD }} #how to access repository secrets in yml

      - name: Docker Publish
        run: echo docker build -t $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest
    deploy:
     needs: docker
     concurrency: #it will cancel all other workflow which belongs to same cnocurrency group
      group: production-deployment
      cancel-in-progress: true
     runs-on: ubuntu-latest
     steps:
      - name: Docker Run
        run: |
          docker run -d -p 8080:80 $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest
          sleep 500s

####### normal way of using ################

    # docker:
    #   runs-on: ubuntu-latest
    #   steps:
    #     - name: docker build
    #       run: docker build -t docker.io/dockerUsername/imageName:latest
    #     - name: Docker Login
    #       run: docker login --username=dockerUsername --password=s3cUrePaSsw0rd

    #     - name: Docker Publish
    #       run: docker push docker.io/dockerUsername/imageName:latest
    # deploy:
    #  needs: docker
    #  runs-on: ubuntu-latest
    #  steps:
    #   - name: Docker Run
    #     run: docker run -d -p 8080:80 docker.io/dockerUsername/imageName:latest


####env variables at each step level #####

    # docker:
    #   runs-on: ubuntu-latest
    #   steps:
    #   - name: Docker Build
    #     env:
    #       CONTAINER_REGISTRY: docker.io
    #       DOCKER_USERNAME: likhitharajgopal
    #       IMAGE_NAME: github-actions-nginx
    #     run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
      
    #   - name: Docker login
    #     env: 
    #       DOCKER_PASSWORD: Jungkook@jeon#1997
    #       DOCKER_USERNAME: likhitharajgopal
    #     run: echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

    #   - name: Docker Publish
    #     env:
    #       CONTAINER_REGISTRY: docker.io
    #       DOCKER_USERNAME: likhitharajgopal
    #       IMAGE_NAME: github-actions-nginx
    #     run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
      
###### ENV variables at job level #################

    # docker:
    #   env:
    #     CONTAINER_REGISTRY: docker.io
    #     DOCKER_USERNAME: likhitharajgopal
    #     IMAGE_NAME: github-actions-nginx
    #   runs-on: ubuntu-latest
    #   steps:
    #   - name: Docker Build
    #     run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
    #     #run: echo docker build -t ${ CONTAINER_REGISTRY }}/$DOCKER_USERNAME/$IMAGE_NAME:latest
      
    #   - name: Docker login
    #     env: 
    #       DOCKER_PASSWORD: Jungkook@jeon#1997
    #     run: echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

    #   - name: Docker Publish
    #     run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest
    # deploy:
    #  needs: docker
    #  env:
    #     CONTAINER_REGISTRY: docker.io
    #     DOCKER_USERNAME: likhitharajgopal
    #     IMAGE_NAME: github-actions-nginx
    #  runs-on: ubuntu-latest
    #  steps:
    #   - name: Docker Run
    #     run: docker run -d -p 8080:80 docker.io/dockerUsername/imageName:latest